---
---



.background {
  position: relative;
  background: transparent;
  color: var(--text);
  z-index: 1;
}

.background:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
}
