---
---

$thumb-size: 180px;
$wrap: 800px;

.citation-container {
  container-type: inline-size;
}

.citation {
  display: flex;
  margin: 20px 0;
  border-radius: var(--rounded);
  background: var(--background);
  overflow: hidden;
  box-shadow: var(--shadow);
}

/*.citation-image {
  position: relative;
  width: $thumb-size;
  flex-shrink: 0;
  // box-shadow: var(--shadow);
}

.citation-image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
*/

.citation-text {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 100%;
  height: min-content;
  padding: 20px;
  padding-left: 30px;
  text-align: left;
  overflow-wrap: break-word;
  z-index: 0;
}

.citation-title,
.citation-authors,
.citation-details,
.citation-description {
  width: 100%;
}

.citation-title {
  font-weight: var(--semi-bold);
}

.citation-text > .icon {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--light-gray);
  opacity: 0.5;
  font-size: 30px;
  z-index: -1;
}

.citation-publisher {
  text-transform: capitalize;
}

.citation-description {
  color: var(--gray);
}


.citation-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.citation-buttons .button {
  margin: 0;
}

.citation-text > .tags {
  display: inline-flex;
  justify-content: flex-start;
  margin: 0;
}

.citation-description li {
  line-height: 1.2; /* 默认太宽可调小些 */
  margin-bottom: 2.5px; /* 缩小段间距 */
}

.citation-description ul {
  padding-left: 0.8em; /* 控制整体缩进距离 */
  margin: 0.3em 0;
  list-style-type: disc;
}

.citation-description ul ul {
  padding-left: 1.2em; /* 子列表进一步缩进 */
  list-style-type: circle;
}

.citation-description li {
  margin-bottom: 0.3em; /* 控制每个 bullet 的间距 */
  line-height: 1.6;     /* 行距 */
}

.citation-description .list-heading {
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
  padding-left: 0em; // 与 ul 对齐
  color: var(--dark-gray);
}


/*
@container (max-width: #{$wrap}) {
  .citation {
    flex-direction: column;
  }

  .citation-image {
    width: unset;
    height: $thumb-size;
  }
}
*/