---
---

$logo-big: 150px;
$logo: 40px;
$big-padding: 50px;
$collapse: 700px;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 10px;
  background-color: transparent; /* 背景透明 */
  box-shadow: none; /* 移除阴影 */
  position: relative; /* 允许随页面滚动 */
  z-index: 10;
}

header a {
  color: var(--text);
  text-decoration: none;
}

.home {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.logo {
  height: $logo;
}

.logo > * {
  height: 100%;
}

.title-text {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 10px;
  min-width: 0;
  font-family: var(--title);
  text-align: left;
}

.title {
  font-size: var(--large);
}

.subtitle {
  font-weight: var(--regular);
}

.nav-toggle {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0;
  color: var(--text);
  appearance: none;
  transition: background var(--transition);
}

.nav-toggle:after {
  content: "\f0c9";
  position: absolute;
  left: 50%;
  top: 50%;
  color: var(--text);
  font-size: 15px;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  transform: translate(-50%, -50%);
}

.nav-toggle:checked:after {
  content: "\f00d";
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px; // 或 50px，根据你想要的宽松程度调整
  padding: 10px 40px; // 可增加整体左右内边距
  font-family: var(--heading);
  text-transform: uppercase;
}

nav > a {
  padding: 10px 16px;
  font-size: 1.05rem;
}


nav > a:hover {
  color: var(--primary);
}

header:not([data-big]) {
  @media (max-width: $collapse) {
    justify-content: flex-end;

    .nav-toggle {
      display: flex;
    }

    .nav-toggle:not(:checked) + nav {
      display: none;
    }

    nav {
      align-items: flex-end;
      flex-direction: column;
      width: 100%;
    }
  }
}

header[data-big] {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: $big-padding 20px;

  .home {
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
    gap: 20px;
  }

  .logo {
    height: $logo-big;
    padding-bottom: 15px;
  }

  .title-text {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .title {
    font-size: 50px;
    color: black;
  }

  .subtitle {
    font-size: var(--large);
  }

  nav {
    margin-top: 15px;
    justify-content: center;
    gap: 50px;
    padding: 0 60px;
    flex-wrap: wrap;
    font-size: 1.2rem;
  }

  nav > a {
    padding: 12px 18px;
    font-size: 1.2rem;
  }
}
